doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
  h1 Welcome to  #{title}
  a(href="./index")
   button(type="button") HOME
  h1 Buy statistics 
  p  Buy         #{bittrexData.buy[9].Rate}
  p  Quantity    #{bittrexData.buy[9].Quantity}
  p  Buy         #{bittrexData.buy[19].Rate}
  p  Quantity    #{bittrexData.buy[19].Quantity}
  p  Buy         #{bittrexData.buy[11].Rate}
  p  Quantity    #{bittrexData.buy[11].Quantity}


  